<div class="rounded-3 border position-relative overflow-auto" style="height: 307px;">
  <div class="position-absolute title">
    <p class="fs-5 m-0">{{"chart.title" |translate}}</p>
    <p class="text-black-50 m-0">{{"chart.date" |translate}}</p>
  </div>
  <div class="dropdown position-absolute">
    <p-dropdown
      [options]="'chart.duration' | translate"
      [(ngModel)]="selectedDuration"
      [placeholder]="'chart.placeholder'|translate"
    />
  </div>
  <div echarts [options]="chartOption" class="h-100 w-100" style="min-width: 430px;"></div>
</div>
