<div class="rounded-3 px-4 py-3 position-relative ticket " MainBackground>
  <div class="overlay position-absolute"></div>
  <div class="position-relative z-2">
    <div class="d-flex align-items-center justify-content-between">
      <button class="btn" pTooltip="Delete" tooltipPosition="bottom">
        <i class="pi pi-trash text-white fs-5"></i>
      </button>
      <p class="m-0 text-white text-start">{{"ticket.title" | translate}}</p>
      <p></p>
    </div>
    <div
      class="link bg-white rounded-3 mt-2 mx-3 px-2 py-1 d-flex justify-content-between align-items-center"
    >
      <button class="btn" (click)="copyLink()">
        <i class="pi pi-copy fs-5" MainColor></i>
      </button>
      <p class="m-0 fs-6 text-truncate" style="max-width: 182px;user-select: none;">
        {{ ticketLink }}
      </p>
    </div>
    <p class="text-center mt-2 text-white">{{"ticket.date" | translate}}</p>
    <div class="qr-code d-flex py-3 justify-content-between position-relative gap-2">

      <div class="d-flex align-items-end gap-2">
        <button class="btn btn-sm border text-white">
         {{ "ticket.share" | translate}} <i class="pi pi-share-alt"></i>
        </button>
        <p class="m-0 text-white">
         {{"ticket.discount" | translate}} <br />
          <span class="fs-5">25%</span>
        </p>
      </div>
      <qrcode
        [qrdata]="ticketLink"
        [ariaLabel]="'QR Code image with the following content...'"
        [colorDark]="'#000000'"
        [colorLight]="'#ffffffff'"
        [elementType]="'url'"
        [errorCorrectionLevel]="'M'"
        [margin]="4"
        [scale]="1"
        [width]="100"
      ></qrcode>
    </div>
  </div>
</div>
